/* color palette */
:root {
  --pigment-green: #139a43ff;
  --air-force-blue: #4e8098ff;
  --mint-cream: #f1f7edff;
  --raisin-black: #1a181bff;
  --burnt-umber: #823329ff;
}

.primary-btn {
  border: none;
  color: var(--mint-cream);
  padding: 10px 30px;
  border-radius: 20px;
  background: linear-gradient(
    to right,
    var(--pigment-green) 2%,
    var(--air-force-blue) 50%
  );
  font-weight: 500;
}

.round-btn {
  border: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--mint-cream);
  border: 1px solid rgb(197, 197, 197);
}
.round-btn i {
  font-size: 20px;
}

.min-container {
  padding-inline: 35px;
}

.box-shadow {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
