/* header */
.header {
  padding-block: 10px;
}

.header i {
  color: rgb(53, 53, 53);
}
.dashboard-logo {
  height: 40px;
}
.header .d-flex {
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  height: 50px;
  flex-basis: 60%;
}
.search-bar input {
  height: 100%;
  width: 100%;
  background: transparent;
  flex: 1;
  border: none;
  outline: none;
  padding-inline: 20px;
}

.search-bar {
  background-color: var(--mint-cream);
  display: flex;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.personnal {
  display: flex;
  gap: 20px;
  height: fit-content;
}

.personnal button {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
