/* header */
.header {
  background-color: rgb(247, 247, 247);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.header i {
  color: rgb(53, 53, 53);
}
.dashboard-logo {
  height: 90px;
}
.header .d-flex {
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  height: 50px;
  flex-basis: 60%;
}
.search-bar input {
  height: 100%;
  width: 100%;
  background: transparent;
  flex: 1;
  border: none;
  outline: none;
  padding-inline: 30px;
}

.search-bar {
  background-color: var(--mint-cream);
  display: flex;
  border-radius: 20px;
  align-items: center;
  border: 1px solid rgb(197, 197, 197);
}
.search-bar .round-btn {
  border: none !important;
  height: 40px;
  width: 40px;
}
.personnal {
  display: flex;
  gap: 20px;
  height: fit-content;
}
