:root {
    --pigment-green: #139a43ff;
    --air-force-blue: #4e8098ff;
    --mint-cream: #f1f7edff;
    --raisin-black: #1a181bff;
    --burnt-umber: #823329ff;
  }

.register-container{
    width: 100dvw;
    height: 100dvh;
    background: var(--mint-cream);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.side-hero{
    background: url('../../public/leaf.png');
    width: 25%;
    height: 100%;

}
.form-container{

}
.reg-btn{
    height: 60px;
    width: 400px;
}
.reg-btn-names{
    height: 60px;
    width: 240px;
    margin-right: 20px;
}

@media (max-width: 1250px) { 
    .collapseOnMobile{
        display: none;
    }
    .register-container{
        display: flex;
        flex-direction: column;
    }
}
.names-container{
display: flex;
align-items: center;
width: 800px;
height: 60px;
}
.ml{
    margin-left: 20px;
}
.name-input{
    margin-right: 10px;
}
